@import url('https://font.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto' sans-serif;
}

.left img{
  width: 50px;
  height: 50px;
}

.container{
  /* //padding : 0 120px; */
  /* margin: 0px 13px; */
  /* max-width: 80vw; */
  /* margin: auto; */
}
nav{
  font-size:15px;
}
nav ul li {
  list-style: none;
  padding: 0 12px;
}

header {
  /* position: sticky; */
  top:0;
  box-shadow: rgba(0,0,0,0.35) 1.95px 1.95px 2.6px;
  background:  white;
  /* height: 150px; */
}

.s1{
  background: #f5f0f0;
  /* height:100rem; */
}
.mapouter{
  padding: 15px;
}
.map-locn{
  display: flex;
}
.loc{
  /* padding : 5px; */
  margin-top: 15px;
  margin-left: 400px;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;   
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}
.btn-twitter {
  background-color: #42AEEC;
  color: #fff;
}